*{
    font-family: sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:99vh;
    background-color:#b1daff;
}

h1{
    color:#ffc1a1;
    font-weight:400;
    font-size:20px;
}

h1 span{
    font-size:40px;
    padding:0 16px 0 16px;
    font-family: "Ephesis", cursive;
    font-style: normal;
}

#container{
    background-color:#b5131a;
    width:50vw;
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    position:relative;
    border-radius:5%;
    box-shadow: -10px 15px 14px 4px #606060;
}

#container>div:nth-child(odd){
    width:80%;
    text-align:center;
}

#buttons,#extra-options{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#buttons>button{
    width:100px;
    height:100px;
    border-radius: 100%;
    margin:40px;
}

#current-colour{
    width:100%;
    height:20px;
    background-color:black;
	margin-bottom:20px;
}

#sketch-area{
	cursor:crosshair;
    background-color:white;
    width:600px;
    height:600px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
}
.tile{
    /*background-color: white;*/
	box-sizing:border-box;
	user-select: none;
    
}

.animate{
	animation:fade ease-in-out 2s forwards;
}

.tile:hover{
    border:1px solid #CECECE;
}

#info{
	display:flex;
	flex-direction:column;
	width:200px;
}

#extra-options button{
	background-color:white;
	padding:10px;
	border:none;
}

#extra-options button.active{
	color:white;
	background-color:#878787;
	transform: scale(0.92); 
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}